<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartHRM.Admin</title>
    <meta content="SmartHRM Admin & Dashboard" name="description" />
    <meta content="Hugnt" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />

    @await RenderSectionAsync("Styles", required: false)

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    

</head>
<body>
    <div id="layout-wrapper">
        @await Html.PartialAsync("~/Views/Shared/Partial/Layout/_HeaderPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partial/Notification/RemoveModelPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Partial/Layout/_NavBarPartial.cshtml")
        <div class="vertical-overlay"></div>
        <div class="main-content">
            <!-- Start Page-content -->
            <div class="page-content">
                <div class="container-fluid">
                    @await Html.PartialAsync("~/Views/Shared/Partial/Layout/TitleBox.cshtml")
                    <!-- end page title -->
                    <!-- Loading -->
                    @await Html.PartialAsync("~/Views/Shared/Partial/Notification/LoadingPartial.cshtml")
                    @RenderBody()
                </div>
            </div>
            <!-- End Page-content -->
            @await Html.PartialAsync("~/Views/Shared/Partial/Layout/_FooterPartial.cshtml")
        </div>
    </div>

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/Partial/Layout/ThemeSettings.cshtml")

    @await RenderSectionAsync("Modals", required: false)

    <!-- JAVASCRIPT REQUIRED LIB-->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>


    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
