<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index-2.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22" />
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="17" />
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index-2.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="27" />
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="22" />
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title">
                    <span data-key="t-general">General</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#">
                        <i class="ri-pie-chart-2-line"></i>
                        <span data-key="t-dashboards">Dashboard</span>
                    </a>
                </li>
                <li class="menu-title">
                    <span data-key="t-management">Management</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarEmployeeRoster" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarEmployeeRoster">
                        <i class="ri-folder-user-line"></i>
                        <span data-key="t-employee-roster">Employee roster</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarEmployeeRoster">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/Employee/PersonnelFiles" class="nav-link">Personnel files</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Employee/Position" class="nav-link">Positions</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" >Department</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> Contract</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarTasks" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarTasks">
                        <i class="ri-briefcase-2-line"></i>
                        <span data-key="t-Tasks">Tasks</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarTasks">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-working-schedule">
                                    Tasks of employee
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-working-schedule">
                                    Task list
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-working-schedule">
                                    Project
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarTimekeeping" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarTimekeeping">
                        <i class="ri-fingerprint-line"></i>
                        <span data-key="t-timekeepings">Timekeeping</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarTimekeeping">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/TimeKeeping/TimeKeeper" class="nav-link sidebarTimekeeping"
                                   data-key="t-timekeeper">Timekeeper</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-timesheets">Timesheets</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-attendance-calculation">Attendance calculation</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSalary" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarSalary">
                        <i class="bx bx-dollar"></i>
                        <span data-key="t-Salary">Salary</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSalary">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-payroll-Salary">Salary of employee</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-payroll-Allowance">Allowance List</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-salary-Bonus">Bonus List</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Salary/DeductionList" class="nav-link sidebarSalary"
                                   data-key="t-salary-Deduction">Deduction List</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarInsurance" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarInsurance">
                        <i class="ri-shield-user-line"></i>
                        <span data-key="t-Insurance">Insurance</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarInsurance">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-payroll-employee">Insurance of employee</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link"
                                   data-key="t-Insurance-list">Insurance list</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title">
                    <i class="ri-more-fill"></i>
                    <span data-key="t-categories">Categories</span>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarMultilevel" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarMultilevel">
                        <i class="ri-share-line"></i>
                        <span data-key="t-multi-level">Multi Level</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarMultilevel">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-level-1.1">
                                    Level 1.1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarAccount" class="nav-link" data-bs-toggle="collapse"
                                   role="button" aria-expanded="false" aria-controls="sidebarAccount"
                                   data-key="t-level-1.2">
                                    Level 1.2
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarAccount">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" data-key="t-level-2.1">
                                                Level 2.1
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#sidebarCrm" class="nav-link" data-bs-toggle="collapse"
                                               role="button" aria-expanded="false" aria-controls="sidebarCrm"
                                               data-key="t-level-2.2">
                                                Level 2.2
                                            </a>
                                            <div class="collapse menu-dropdown" id="sidebarCrm">
                                                <ul class="nav nav-sm flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.1">
                                                            Level 3.1
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.2">
                                                            Level 3.2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>